%-*-Erlang-*-
{erl_opts, [debug_info, warnings_as_errors]}.

{deps, [{erlando, {git, "https://github.com/eryx67/erlando.git", {branch, "master"}}},
	{jsx, "3.0.0"},
	{fast_yaml, "1.0.31"},
	{jesse, "1.5.6"},
	{regine, "1.1.0"},
	{gun, "2.0.0-rc.2"}
	%% gun PR 295, for working pool support
	%% {gun, {git, "https://github.com/umbec/gun.git", {branch, "pool_autostart"}}}
       ]}.

{shell, [{apps, [k8s_api_client]}]}.
